@import "../../mixins.scss";

.footer {
    background: var(--dl-green);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    padding: 45px 0;
    color: #fff;
    position: relative;
    .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright {
        font-size: 16px;
        line-height: 20px;
        opacity: 0.5;
        text-align: center;
        max-width: 800px;
        @include md {
            font-size: 20px;
        }
        .footer-links{
            margin-top: 15px;
        }
        .footer-links a{
            font-size: 30px;
            padding: 0 8px;
            color: #fff;
        }
    }
}